
@{
    ViewBag.Title = "Map";
}

<div id="LoadingIndicator" style="z-index: 1">
    <h1 style="text-align: center; display: block;">Loading map..</h1>
</div>
<div id="myMap">

</div>

<button id='btn-filters'><img id="btn-for-filters-image" src='~/Media/Icons/filter_icon.png' /></button>

<button id='btn-chats'><img id="btn-chats-image" src='~/Media/Icons/chat_icon.png' /></button>

<div class="text-white" id="filters">
    <div id="visibility-filter-div">

        <h3 style="left: 10px; top: 10px;">Filters</h3>

        <div class="container group-of-filters">

            <div class="row">
                <span id="demo">Radius: </span>

                <div class="slidecontainer">
                    <input type="range" min="1" max="30" value="2" class="slider" id="myRange">
                </div>
            </div>
            <!-- Gender selection -->
            <div class="row" style="margin: auto;">
                <span id="demo">Gender: </span>

                <div class="btn-group btn-group-toggle" style="margin: auto" data-toggle="buttons">
                    <label class="btn btn-primary">
                        <input name="options" id="option1" type="radio" autocomplete="off">Male
                    </label>
                    <label class="btn btn-primary">
                        <input name="options" id="option2" type="radio" checked="checked" autocomplete="off">Both
                    </label>
                    <label class="btn btn-primary">
                        <input name="options" id="option3" type="radio" autocomplete="off">Female
                    </label>
                </div>
            </div>

            <!-- Drinkset selection-->
            <div>
                <span id="demo">Drinkset </span>

                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="checkbox" checked="" autocomplete="off">Vodka
                    </label>
                    <label class="btn btn-primary active">
                        <input type="checkbox" autocomplete="off">Tequila
                    </label>

                </div>

                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="checkbox" checked="" autocomplete="off">Vodka
                    </label>

                    <label class="btn btn-primary active">
                        <input type="checkbox" autocomplete="off">Cognac
                    </label>
                </div>
            </div>

            <div>
                <button class="btn" onclick="RunMapScan()">Scan</button>
            </div>
        </div>



    </div>
</div>

<script type="text/javascript" src="~/Scripts/Custom/Map.js"></script>
