@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li style="cursor: pointer" onclick="ShowAccountModal()">
                <img src="~/Media/Icons/profile_icon.png" alt=""/>
                @User.Identity.Name
                @*@Html.ActionLink(User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">

        <li>
            <div class="btn-group" role="group" aria-label="Basic example">
                @Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn right-btn" })
                @Html.ActionLink("Log In", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn right-btn" })
            </div>
        </li>
    </ul>
}
