@keyframes containerCloseAnimation {
    0% {
        top: 100px;
    }

    10% {
        top: 120px;
    }

    100% {
        top: -500px;
    }
}

@keyframes containerOpenAnimation {
    0% {
        top: -500px;
    }

    90% {
        top: 120px;
    }

    100% {
        top: 100px;
    }
}

#fastslide-container {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 300px;
    /*position: relative;*/
    z-index: 1500;
    position: absolute;
}

#fast-slide-cards {
    background: #FF4001;
    border-radius: 10px;
    box-shadow: 2px 6px 8px 0 rgba(0, 0, 0, 0.3);
}

.fast-slide-card {
    border-radius: 50px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.fast-slide-card-image {
    height: 300px;
    background-color: greenyellow;
    background: url(../images/person-image.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0px 0px;
}

.fast-slide-card-text {
    height: 100px;
}

.fast-slide-card-subtext {
    font-family: Roboto;
    color: white;
    font-size: 15pt;
    text-align: left;
    float: left;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border-radius: 3px;
    background: white;
    color: black;
}

#fast-slide-card-name {
    font-family: Roboto;
    color: white;
    font-size: 20pt;
    text-align: left;
    float: left;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background: white;
    color: black;
}

#fast-slide-buttons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.fast-slide-buttons {
    position: relative;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    transition: 0.15s;
    text-align: center;
    background-color: blue;
    border: 0;
    outline: none;
}

/* .fast-slide-buttons:hover{
    cursor: pointer;
    background: lightblue;
} */

#fast-slide-open {
    background: blueviolet;
    /*position: fixed;*/
    left: 0;
    right: 0;
    top: 2px;
    margin: auto;
}

    #fast-slide-open:hover {
        background-color: rgb(160, 83, 231);
        cursor: pointer
    }

#fast-slide-cancel {
    background: red;
}

    #fast-slide-cancel:hover {
        background-color: lightcoral;
        cursor: pointer
    }

#fast-slide-accept {
    background: green;
}

    #fast-slide-accept:hover {
        background: lightgreen;
        cursor: pointer;
    }
