@keyframes containerCloseAnimation {
    0% {
        top: 100px;
    }

    10% {
        top: 120px;
    }

    100% {
        top: -500px;
    }
}

@keyframes containerOpenAnimation {
    0% {
        top: -500px;
    }

    90% {
        top: 120px;
    }

    100% {
        top: 100px;
    }
}

#fastslide-container {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 300px;
    /*position: relative;*/
    z-index: 1500;
    position: absolute;
}

#fast-slide-cards {
    background: #FF4001;
    border-radius: 10px;
    box-shadow: 2px 6px 8px 0 rgba(0, 0, 0, 0.3);
}

.fast-slide-card {
    border-radius: 50px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.fast-slide-card-image {
    height: 300px;
    background-color: greenyellow;
    background: url(../images/person-image.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0px 0px;
}

.fast-slide-card-text {
    height: 100px;
}

.fast-slide-card-subtext {
    font-family: Roboto;
    color: white;
    font-size: 15pt;
    text-align: left;
    float: left;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border-radius: 3px;
    background: white;
    color: black;
}

#fast-slide-card-name {
    font-family: Roboto;
    color: white;
    font-size: 20pt;
    text-align: left;
    float: left;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background: white;
    color: black;
}

#fast-slide-buttons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.fast-slide-buttons {
    position: relative;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    transition: 0.15s;
    text-align: center;
    background-color: blue;
    border: 0;
    outline: none;
}

/* .fast-slide-buttons:hover{
    cursor: pointer;
    background: lightblue;
} */

#fast-slide-open {
    background: blueviolet;
    /*position: fixed;*/
    left: 0;
    right: 0;
    top: 2px;
    margin: auto;
}

    #fast-slide-open:hover {
        background-color: rgb(160, 83, 231);
        cursor: pointer
    }

#fast-slide-cancel {
    background: red;
}

    #fast-slide-cancel:hover {
        background-color: lightcoral;
        cursor: pointer
    }

#fast-slide-accept {
    background: green;
}

    #fast-slide-accept:hover {
        background: lightgreen;
        cursor: pointer;
    }

img {
    margin: auto;
    width: 30px;
    height: 30px;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#myMap {
    height: 100%;
    width: 100%;
    z-index: 1000;
}

#btn-for-filters {
    position: absolute;
    top: 80px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(255, 153, 0, 0.7);
    z-index: 2000;
}

#btn-for-filters-image {
    margin-left: -5px;
    padding: 0;
    width: 45px;
    height: 45px
}

/*Sidebars*/
#filters {
    width: 0px;
    height: 400px;
    margin-top: 70px;
    float: left;
    background-color: #feb236;
    border-radius: 5px;
    z-index: 1000;
    top: 65px;
    position: absolute;
    left: 10px;
}




#visibility-filter-div {
    display: none;
}

.group-of-filters {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}

    .group-of-filters span {
        font-size: 17px;
        margin-left: 10px;
    }


@media only screen and (max-width: 425px) {
    .visibility-title-of-sidebars {
        display: none;
    }
}

/*Filters*/

.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #ff6633;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    padding: 2px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background: #f1c40f;
    box-shadow: inset 0px 0px 0px 4px #fff;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    background: #f1c40f;
    box-shadow: inset 0px 0px 0px 4px #fff;
}
