#btn-filters {
    position: absolute;
    top: 150px;
    /*left: 10px;*/
    width: 70px;
    height: 70px;
    border: 0px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ED6D1A;
    z-index: 2000;
}

    #btn-filters:active {
        width: 75px;
    }

#btn-chats {
    position: absolute;
    top: 150px;
    right: 0;
    /*left: 10px;*/
    width: 70px;
    height: 70px;
    border: 0px;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ED6D1A;
    z-index: 2000;
}

#btn-filters:active {
    width: 75px;
}

#btn-for-filters-image {
    margin-left: -5px;
    padding: 0;
    width: 55px;
    height: 55px
}

#btn-chats-image {
    margin-left: -5px;
    padding: 0;
    width: 40px;
    height: 40px
}

#btn-chats:active {
    width: 75px;
}

/*Sidebars*/
#filters {
    width: 0px;
    height: 400px;
    margin-top: 70px;
    float: left;
    background-color: #feb236;
    border-radius: 5px;
    z-index: 1000;
    top: 65px;
    position: absolute;
    left: 10px;
}

#visibility-filter-div {
    display: none;
}

.group-of-filters {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}

    .group-of-filters span {
        font-size: 17px;
        margin-left: 10px;
    }


@media only screen and (max-width: 425px) {
    .visibility-title-of-sidebars {
        display: none;
    }
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    height: 15px;
    border-radius: 5px;
}

    /* Mouse-over effects */
    .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #4CAF50; /* Green background */
        cursor: pointer; /* Cursor on hover */
        height: 25px;
        border-radius: 50%;
    }

    /*.slider::-moz-range-thumb {
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #4CAF50; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }*/ 
