
@if (ViewBag.IsAuthView == true)
{

    <!--< nav class="navbar navbar-expand-lg" id="mainNav" style="background: rgba(255, 106, 0, 0.1)">-->
    <nav class="navbar navbar-expand-lg bg-transparent" id="mainNav">
        <a class="navbar-brand" href="~/">
            <img id="nav-img" src="~/Media/logo.png">
        </a>
        <button class="navbar-toggler navbar-toggler-right btn btn-circle" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse">
            <h2 style="text-align: center;" class="text-white">Log In to profile</h2>
        </div>
    </nav>
    <hr />
}
else if (ViewBag.IsMapView == true)
{
    <!--< nav class="navbar navbar-expand-lg" id="mainNav" style="background: rgba(255, 106, 0, 0.1)">-->
    <nav class="navbar navbar-expand-lg" id="mainNav">
        <a class="navbar-brand" href="~/">
            <img id="nav-img" src="~/Media/logo.png">
        </a>
        <button class="navbar-toggler navbar-toggler-right btn btn-circle" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>

            <h2 style="text-align: left;" class="text-black">Invoices map</h2>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto navbar-center">
                <li class="nav-item"><a href="#network" class="nav-link hvr-underline-from-center">Chats</a></li>
                <li class="nav-item"><a href="#usability" class="nav-link hvr-underline-from-center">Games</a></li>
            </ul>
            @Html.Partial("_LoginPartial")

        </div>
    </nav>
}
else if (ViewBag.IsIndexView == true)
{
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="mainNav" style="position: fixed; overflow: hidden; top: 0; width: 100%; z-index: 100">
        <a class="navbar-brand" href="~/">
            <img id="nav-img" src="~/Media/logo.png">
        </a>
        <button class="navbar-toggler navbar-toggler-right btn btn-circle" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="#network" class="nav-link hvr-underline-from-center">What is it?</a></li>
                <li class="nav-item"><a href="#usability" class="nav-link hvr-underline-from-center">Usability</a></li>
                <li class="nav-item"><a href="#features" class="nav-link hvr-underline-from-center">Features</a></li>
                <li class="nav-item"><a href="#joinus" class="nav-link hvr-underline-from-center">Join us</a></li>

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
}


