@{
    ViewBag.Title = "Home Page";
}
</div>

<div>
    <h3 style="text-align: center">What do we have?</h3>

    <div class="container" style="margin-top: 20px;">
        <div class="row" style="text-align: center;">
            <div class="col-2">
                <img src="~/Media/location-icon.png" style="width: 100px" />
                <br />
                Find pals by location
            </div>
            <div class="col-2">
                <img src="~/Media/fastswap-icon.png" style="width: 100px" />
                <br />
                Use <strong>FastSwap</strong> to search strangers
            </div>
            <div class="col-2">
                <img src="~/Media/chat-icon.png" style="width: 100px" />
                <br />
                Private and group messaging
            </div>
            <div class="col-2">
                <img src="~/Media/gamepad-icon.png" style="width: 100px" />
                <br />
                Alcohol games and quizzes
            </div>
            <div class="col-2">
                <img src="~/Media/dcn-icon.png" style="width: 100px" />
                <br />
                Drink Coin Cryptocurrency (DCN)
            </div>
            <div class="col-2">
                <img src="~/Media/lock-icon.png" style="width: 100px"/>
                <br/>
                Security and Encryption
            </div>
        </div>
    </div>
</div>